body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

 
 #fr{
  padding-top: 150px;
  padding-bottom: 280px;
  text-align: center;
  
  z-index: 5;
  
} 
#texti{
  font-weight: lighter;
  font-size: 3em;
  color: rgb(41, 19, 19);
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.typing{
  position: relative;
  margin-left: 10px;
  color: rgb(68, 5, 42);

}
.typing::after{
  content: "";
  position: absolute;
  right:-5px;
  width:3px;
   height:80%; 
  border-right: 2px solid rgb(36, 30, 30);
  animation: blink 0.5s infinite ease;
  position: relative;
  top:6px;

}
@keyframes blink {
  0%{
    opacity:0;

  }
  100%{
    opacity: 1;
  }

}

 .container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding:0;
  margin:0;
  left: 0px;
  top: 0px;
  z-index: -1000; 
  overflow:hidden;
  
  }
  
  .videoPlayer {
      min-height: 100%;
      min-width:100%; 
  position:absolute;
  bottom:0;
  left:0;
  
  }
 
  #cityinput{
    padding: 4px;
    border: none;
  }
  #butt{
    border: none;
    padding: 6px;
  }
















#clear {
    /* The image used */
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                      url("/post_folder/Image/clear.jpg");
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 4em;
    color: red;
   }
   #cloud {
       /* The image used */
       background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                         url("/post_folder/Image/cloudy.jpg");
     /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height: 100vh;
      }
      #rain {
          /* The image used */
          background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                            url("/post_folder/Image/rain.jpg");
        /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100vh;
         }
         #snow {
             /* The image used */
             background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                               url("/post_folder/Image/snow.jpg");
           /* Center and scale the image nicely */
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             height: 100vh;
                }
            #thunderstorm {
                    /* The image used */
                    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                                      url("/post_folder/Image/thunder.jpg");
                  /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100vh;
                   }
             #drizzle {
                       /* The image used */
                       background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                                         url("/post_folder/Image/drzzle.jpg");
                     /* Center and scale the image nicely */
                       background-position: center;
                       background-repeat: no-repeat;
                       background-size: cover;
                       height: 100vh;
                      }
                      #default {
                        /* The image used */
                        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
                                          url("/post_folder/Image/weather_img.jpg");
                      /* Center and scale the image nicely */
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100vh;
                       }



