body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

#home {
 /* The image used */
 background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
                   url("weather_img.jpg");




 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
#fr{
  padding-top: 220px;
  padding-bottom: 290px;
  text-align: center;
}
#texti{
  font-size: 2em;
  color: rgb(143, 27, 27);


}

.typing{
  position: relative;
  margin-left: 10px;
  color: rgb(61, 4, 4);

}
.typing::after{
  content: "";
  position: absolute;
  right:-5px;
  width:5px;
  height:100%;
  border-right: 3px solid white;
  animation: blink 0.5s infinite ease;
  
}
@keyframes blink {
  0%{
    opacity:0;

  }
  100%{
    opacity: 1;
  }

}
