#home {
 /* The image used */
 background-image: url("weather_img.jpg");


 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
#fr{
  padding-top: 280px;
  padding-bottom: 290px;
  text-align: center;
}
